<div class="cart-header">
    <a href="/" class="cart-header__logo">
        <img src={{ asset('build/images/logo.svg') }} alt="Kusmi Tea"/>
    </a>
    <div class="cart-header__reinsurance">
        <div class="cart-header__reinsurance__item">
            <img src={{ asset('build/images/navbar-payment.svg') }} alt="Paiement 100% sécurisé" />
            <span><strong>Paiement</strong> 100% sécurisé</span>
        </div>
        <div class="cart-header__reinsurance__item">
            <img src={{ asset('build/images/navbar-phone.svg') }} alt="Service client" />
            <span><strong>Service client</strong> Besoin d'aide ? Contactez-nous.</span>
        </div>
        <div class="cart-header__reinsurance__item">
            <img src={{ asset('build/images/navbar-watch.svg') }} alt="Retours & Remboursements" />
            <span>Retours & Remboursements 14 jours pour changer d'avis</span>
        </div>
    </div>
</div>