{% extends 'base.html.twig' %}

{% block title %}Panier - Kusmi Tea France{% endblock %}

{% block body %}

<div class="empty-cart">
    <div class="empty-cart__head">
        <h1>Votre panier est vide</h1>
        <p>0 produit</p>
    </div>

    <div class="empty-cart__content">
        <a href="/">Continuer les achats</a>
        <p>Vous ne trouvez pas ce que vous recherchez,<br/><strong>Contactez notre <a href="">Service Client</a></strong></p>
    </div>
</div>

{% endblock %}
