{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<div class="container-fluid py-4" style="background-color: #fcebd2">
    <div class="row w-75 mx-auto">
        <div class="col-md-7">
            <div class="product-image-container d-flex justify-content-center">
                <div class="image-promo">
                    -20%
                </div>
                <img src="{{ qr_code_path('http://127.0.0.1:8000/product/' ~ product.uuid, 'custom') }}" alt="" style="border-radius: 15px" width="250px">
            </div>
        </div>
        <div class="offset-md-1 col-md-4">
            <div class="price-card">
                <div class="top-price-card">
                    <div class="product-card-name">
                        {{ product.name }}
                    </div>
                    <div class="product-card-price">
                        {{ product.price }}€
                    </div>
                </div>
                <div class="promo-product-card">
                    Un ensemble à thé glacé à 39,90€ seulement*
                </div>
                <a href="{{ path('add-to-cart', { 'id': product.id, 'quantity': 1 }) }}" class="btn btn-add-to-cart">
                    AJOUTER
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
