.container-fluid.profil-id {
background-color: #ECEBEB;
padding: 20px 0;

// Flexbox to center the tabs
display: flex;
justify-content: center;

  .btn-connexion{
      width: 97%;
      margin: 0 auto;
      padding: 15px;
      background-color: #000;
      color: #fff;
      border: none;
      text-decoration: none;
      text-align: center;

      // Hover effect
      &:hover {
          background-color: #fff;
          color: #000;
          border: 1px solid #000;
        }
  }

  @media (max-width: 576px) {
    .w-100-sm {
      width: 80% !important;
    }
  }

  .input-design{
    width: 100%;
    border: 1px solid grey;
    padding: 10px;
  }
}