@import 'variables';

@import 'components/header';
@import 'components/footer';
@import 'components/login';
@import 'components/register';
@import 'components/profil';
@import 'components/profil-edit';
@import 'components/resetPassword';

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}