@import 'variables';

@import 'components/header';
@import 'components/footer';
@import 'components/login';
@import 'components/register';
@import 'components/profil';
@import 'components/profil-edit';
@import 'components/profil-adresse';
@import 'components/resetPassword';
@import 'product';

@import 'pages/home.scss';
@import 'pages/cart.scss';

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sophillia';
    src: url('../fonts/Sophillia.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}