.container-fluid.register {
    background-color: #ECEBEB;
    padding: 20px 0;
  
    // Flexbox to center the tabs
    display: flex;
    justify-content: center;
    
    // Tab styles
    .nav-tabs {
      border-bottom: none;
  
      .nav-item {
        .nav-link {
          color: #000;
          font-weight: bold;
          padding: 10px 30px;
          font-size: large;
          border: none;
          background: transparent;
          font-family: 'Lato', sans-serif;
  
          &.active {
            color: #000; // Black color for active tab
            border-bottom: 2px solid #000;
          }
  
          &:not(.active) {
            color: #888; // Gray color for inactive tab
          }

          @media (max-width: $breakpoint-desktop) {
            font-size: medium;
        }
        }
      }
    }
  }

.container-fluid.register-id {
background-color: #ECEBEB;
padding: 20px 0;

// Flexbox to center the tabs
display: flex;
justify-content: center;

    .btn-connexion{
        width: 100%;
        padding: 15px;
        background-color: #000;
        color: #fff;
        border: 1px solid #fff;

        // Hover effect
        &:hover {
            background-color: #fff;
            color: #000;
            border: 1px solid #000;
        }
    }

    .mdp-size{
        font-size: 12px;
        color: #000;
    }

    .text-danger {
        color: red;
    }

    .input-design{
        width: 100%;
        border: 1px solid grey;
        padding: 10px;
      }

      @media (max-width: 576px) {
        .w-100-sm {
          width: 80% !important;
        }
      }
      
      .container-fluid.register-id {
          background-color: #ECEBEB;
          padding: 20px 0;
        
          display: flex;
          justify-content: center;
        
          .btn-connexion {
              width: 100%;
              padding: 15px;
              background-color: #000;
              color: #fff;
              border: none;
        
              &:hover {
                  background-color: #fff;
                  color: #000;
                  border: 1px solid #000;
              }
          }

          .btn-reset{
            width: 97%;
            margin: 0 auto;
            padding: 15px;
            background-color: #000;
            color: #fff;
            border: none;
            text-decoration: none;
            text-align: center;
      
            // Hover effect
            &:hover {
                background-color: #fff;
                color: #000;
                border: 1px solid #000;
              }
        }
        
          .mdp-size {
              font-size: 12px;
              color: #000;
          }
        
          .text-danger {
              color: red;
          }
      }

      .btn-club{
        width: 100%;
        display: inline-block;
        text-align: center;
        font-family: Lato, sans-serif;
        padding: 15px;
        text-decoration: none;
        cursor: pointer;
        letter-spacing: .025em;
        border: .0625rem solid #fff;
        background-color: #4a4a4a;
        color: #fff;
      
        // Hover effect
        &:hover {
            background-color: #fff;
            color: #000;
            text-decoration: none;
            border: 1px solid #000;
          }
      }
}